 body{
   font-family: 'Roboto', sans-serif;
 }


 #main{
    border: 1px solid rgb(223, 223, 223);
    width: 352px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
 }             

 #text-window{
   border: 1px solid rgb(223, 223, 223);
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   text-align: right;
 }

 .buttons{
   border: 1px solid rgb(223, 223, 223);
   border-radius: 1px;
   height: 35px;
   width: 75px;
   text-align: center;
   vertical-align: middle;
   background-color: rgb(245, 245, 245);
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 10px;
 }

 .buttons:hover{
   border: 1px solid rgb(187, 186, 186);
 }

 .simbols{
   background-color: rgba(211, 211, 211, 1);
 }

 .simbols:hover{
   border: 1px solid rgba(146, 146, 146, 0.267);
 }

 .equals{
   background-color: rgba(83, 125, 254, 1);
   color: white;
 }